.wholebody{
	width: 80%;
	margin:  0 auto;
	text-align: center;
	font-family:"Arial";
}

h1{
	font-size:5em;
}

nav{
	padding: 5px;/*Removes the gap between picture and navbar*/
	text-align: right;
	background-color: #c65252;
	margin: 0px 0px 0px 0px; 
}
footer{
	padding: 30px;
	text-align: center;
	margin: 9% 10px 0px 10px; /*Top Right Bottom Left*/
}

ul#navbar li{
	display: inline;
	font-size:2.5em;
	color:white;
	margin: 0px 2% 0px 0px;

}
.picdesc{
	font-size:2.5em;
}

#nameinheader{
	font-size:2.5em;
	float:left;
	margin: 4% 0px 0px 2%;

}
header,footer{
	background-color: #cabbb7;
}


#leftpic{
	width: 45%;
    float: left; 
    margin: 0px 0px 0px 5%;
}
#rightpic{
    width: 45%;
   float: right; 
   margin: 0px 5% 0px 0px;
}
